<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Ajouter</h4>
                        <p class="card-category">Ajouter un nouveau salarie</p>
                    </div>
                    <div class="card-body">
                      <form novalidate [formGroup]="AddForm" (ngSubmit)="onSubmit(AddForm)">
                        <div class="row" formGroupName="salarie">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Matricule" formControlName="idSal" >
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nom" formControlName="nom" >
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Prenom" formControlName="prenom" >
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Genre" formControlName="genre" >
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date de naissance" formControlName="dateNaissance" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Etat" formControlName="etat" >
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Telephone" formControlName="tel" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Eamil" formControlName="email"  type="email">
                              </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Adress" formControlName="adresse" >
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="CIN" formControlName="cin" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom de banque" formControlName="nomBanque" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="RIB" formControlName="rib" >
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="CV" formControlName="cv" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Profile" formControlName="profile" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Statue" formControlName="statue" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="CNSS" formControlName="cnss" >
                            </mat-form-field>
                        </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date d'emploi"  formControlName="dateEmploi" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Salaire"  formControlName="salaire" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Type de contrat"  formControlName="typeContrat" >
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Dure de contrat" formControlName="dureContart" >
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Role"  formControlName="role" >
                            </mat-form-field>
                          </div>                         
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Ajouter</button>
                        <div class="clearfix"></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  